<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/" method="POST">
      <textarea name="user_phrase" rows="10" cols="30" value="Enter your phrase:"></textarea>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>